@use 'sass:math';

$item-size: 72px;
$item-count: 21;

.floating-items {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item {
    height: $item-size;
    width: $item-size;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: floating cubic-bezier(1, 0.47, 0.11, 0.51) infinite;

    img {
        width: calc($item-size / 2);
        height: calc($item-size / 2);
    }
}

@for $i from 0 through $item-count - 1 {
    .floating-items .item:nth-child(#{$i+1}) {
        animation-delay: -#{math.random(5)}s;
        animation-duration: #{6 + math.random(8)}s;
    }
}

@keyframes floating {
    from {
        translate: 0 20vh;
    }
    to {
        translate: 0 -100vh;
    }
}